<div class="sidenav flex flex--j-space-between">
    <div class="sidenav__top">
        <div class="sidenav__top__item flex flex--a-center">
            <div class="sidenav__top__item__link flex flex--a-center">
                <div class="sidenav__top__item__link__icon">
                    <svg class="image--icon">
                        <use href="#menu"></use>
                    </svg>
                </div>
                <div class="sidenav__top__item__link__text"></div>
            </div>
        </div>
        <div class="sidenav__hr"></div>
        <div class="sidenav__top__item flex flex--a-center">
            <div class="sidenav__top__item__indicator"></div>
            <div class="sidenav__top__item__link flex flex--a-center">
                <a href="/association/new-route" class="sidenav__top__item__link__icon">
                    <svg class="image--icon">
                        <use href="#map"></use>
                    </svg>
                </a>
                <a href="/association/new-route" class="sidenav__top__item__link__text">
                    <p>Plan route</p>
                </a>
            </div>
        </div>
        <div class="sidenav__top__item flex flex--a-center">
            <div class="sidenav__top__item__indicator"></div>
            <div class="sidenav__top__item__link flex flex--a-center">
                <a href="/association/routes" class="sidenav__top__item__link__icon">
                    <svg class="image--icon">
                        <use href="#map"></use>
                    </svg>
                </a>
                <a href="/association/routes" class="sidenav__top__item__link__text">
                    <p>Routes</p>
                </a>
            </div>
        </div>
        <div class="sidenav__top__item flex flex--a-center">
            <div class="sidenav__top__item__indicator"></div>
            <div class="sidenav__top__item__link flex flex--a-center">
                <a href="/association/passangers" class="sidenav__top__item__link__icon">
                    <svg class="image--icon">
                        <use href="#users"></use>
                    </svg>
                </a>
                <a href="/association/passangers" class="sidenav__top__item__link__text">
                    <p>Passangers</p>
                </a>
            </div>
        </div>
    </div>
    <div class="sidenav__bottom">
        <div class="sidenav__bottom__item flex flex--a-center">
            <div class="sidenav__bottom__item__link flex flex--a-center">
                <a href="/sign-out" class="sidenav__bottom__item__link__icon">
                    <svg class="image--icon">
                        <use href="#sign-out"></use>
                    </svg>
                </a>
                <a href="/sign-out" class="sidenav__bottom__item__link__text">
                    <p>Log out</p>
                </a>
            </div>
        </div>
    </div>
</div>