<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/main.css">
    
    <title>taxifinder | <%= page.title %> </title>
</head>
<body <% if (page.background) { %> style="background-color: <%= page.background %>;" <% } %>>
    <%- include('sprite') %>

    <%- body %>
</body>
</html>