<div class="container">
    <%- include('../partials/sidenav/admin') %>

    <div class="container__main">
        <%- include('../partials/header/admin') %>

        <div class="container__main__title">
            <h1>Drivers</h1>
            <p>Keep track of all your drivers</p>
            <div class="container__main__title__dash"></div>
        </div>

        <div class="container__main__content">
            <form id="search-form" class="flex flex--a-center" style="margin-bottom: 2rem;">
                <div class="input" style="flex: 0 0 56rem; margin-right: 1.4rem;">
                    <input type="text" id="search-value" placeholder="Search by names or email">
                </div>
                <button class="btn btn--primary">Search</button>
            </form>

            <div class="card table">
                <div class="table__header">
                    <ul class="table__header__row flex">
                        <li class="table__header__row__item">#</li>
                        <li class="table__header__row__item">First name</li>
                        <li class="table__header__row__item">Last name</li>
                        <li class="table__header__row__item">Email address</li>
                    </ul>
                </div>
                <div class="table__body" id="user-list">
                    <ul class="table__body__row"></ul>
                </div>
            </div>
            <div class="flex flex--j-space-between">
                <p></p>
                <p class="flex" style="margin-top: 3rem; cursor: pointer;">
                    <span id="download-csv">Download CSV</span>
                    <span style="margin: 0 1rem;">|</span>
                    <span>Download PDF</span>
                </p>
            </div>
        </div>
    </div>
</div>

<a download id="download-anchor"></a>

<script src="/assets/js/dist/jquery.js"></script>
<script type="module">
    import User from "/assets/js/src/auth/User.js"

    User.getAllDrivers();

    $('#download-csv').on('click', e => {
        User.downloadCSV();
    })

    $('#search-form').on('submit', e => {
        e.preventDefault();

        User.searchDrivers();
    })
</script>