<header class="dash flex flex--a-center flex--j-space-between">
    <div class="dash__logo flex flex--a-center">
        <img src="/assets/illustrations/triangle.svg" alt="">
        <h4>taxi<span style="color: #1b63d8">finder</span></h4>
    </div>
    <div class="dash__user">
        <p>Admin</p>
    </div>
</header>